.home-container {
    min-height: calc(100vh);
    max-width: calc(100vw);
    overflow: auto;
    position: relative;
}

.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

 .fadein img {
    min-height: calc(100vh);
    text-align: center;
     padding: 0px;
     position:absolute;
     top:0;
     -webkit-animation-name: fade;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-duration: 10s;
     animation-name: fade;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
     animation-duration: 10s;
 }

 @-webkit-keyframes fade {
     0% {opacity: 0;}
     25% {opacity: 1;}
     50% {opacity: 1;}
     75% {opacity: 0;}
     100% {opacity: 0;}
 }
 @keyframes fade {
     0% {opacity: 0;}
     25% {opacity: 1;}
     50% {opacity: 1;}
     75% {opacity: 0;}
     100% {opacity: 0;}
 }

 #f1 {
 }
 #f2 {
     -webkit-animation-delay: 5s;
     animation-delay: 5s;
 }

